.Header {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

.Header__btn {
  display: block;
  height: 40px;
  width: 139px;
}
