.Header {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: .625em 1.25em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.Header__btn {
  display: block;
  height: 2.5em;
  width: 8.6875em;
}
