.Header {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: center;
  padding: .625em 1.25em;
  position: fixed;
  transition: .3s;
  width: 100%;
  z-index: 2;

  @media(min-width: $medium-screen) {
    justify-content: space-between;
  }
}

.Header--unpinned {
  transform: translateY(-6.25em);
}

.Header--pinned {
  box-shadow: 0 10px 30px 0 rgba(0, 0 , 0, .1);
  transform: translateY(0);
}

.Header--top {
  box-shadow: none;
}

.Header__logo {
  max-width: 15em;

  @media(min-width: $medium-screen) {
    max-width: none;
  }
}

.Header__btns {
  display: none;
  margin-left: auto;
  margin-right: 1.25em;


  @media(min-width: $medium-screen) {
    display: flex;
  }
}

.Header__btn {
  height: 2.5em;
  width: 8.6875em;
}

.Header__btn:first-child {
  margin-right: 1.25em;
}
