.Button {
  align-items: center;
  background: $white;
  border: solid 1px #c7cacd;
  border-radius: 6px;
  display: inline-flex;
  height: 40px;
  padding: .75em .625em .625em;
  text-decoration: none;
  width: auto;

  &,
  &:hover,
  &:active,
  &:visited {
    color: #333;
  }
}

.Button--large-only {
  display: none;

  @media(min-width: $medium-screen) {
    display: inline-flex;
  }
}

.Button--blue {
  background: $blue;
  border-color: $blue;

  &,
  &:hover,
  &:active,
  &:visited {
    color: $white;
  }
}

.Button__icon {
  margin-right: .625em;
  max-width: 1.5em;
}
