.Panel--split {
  @media(min-width: $large-screen) {
    display: flex;
    height: 39.375em;
    justify-content: flex-end;
    padding: 0 0 0 1.25em;
  }
}

.Panel--split .Panel__inner {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media(min-width: $large-screen) {
    flex-direction: row;
    width: 100%;
  }

  @media(min-width: $max-width) {
    width: 90%;
  }
}

.Panel--split-right {
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 1.25em 0 0;
}

.Panel--split-right .Panel__inner {
  @media(min-width: $large-screen) {
    flex-direction: row-reverse;
  }
}

.Panel--centered {
  align-items: center;
  display: flex;
  height: 31.25em;
  justify-content: center;
  padding: 0 1.25em;
  text-align: center;
}

.Panel--gradient {
  background-image: linear-gradient(134deg, #3326ad 0%, #c96dd8 100%);
  color: $white;
}

.Panel--waves {
  background: url('/img/bg-waves-centered.jpg') no-repeat center;
  background-size: cover;
  color: $white;

  @media(min-width: $large-screen) {
    background-image: url('/img/bg-waves.jpg');
  }
}

.Panel--waves-centered {
  background-image: url('/img/bg-waves-centered.jpg');
}

.Panel--blue {
  background: $blue-light;
}

.Panel__content {
  padding: 4em 1.25em;
  text-align: center;

  @media(min-width: $large-screen) {
    padding: 0;
    text-align: left;
    width: 50%;
  }
}

.Panel--split .Panel__content {
  max-width: 25em;
}

.Panel__title {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: .555555556em;

  @media(min-width: $medium-screen) {
    font-size: 2.25em;
  }
}

.Panel__title--large {
  font-size: 2.25em;

  @media(min-width: $medium-screen) {
    font-size: 3.25em;
  }
}

.Panel__title--icons {
  align-items: center;
  display: flex;

  @media(min-width: $medium-screen) {
    flex-direction: row;
  }
}

.Panel--split .Panel__title {
  margin: auto;
  max-width: 10.416666667em;

  @media(min-width: $large-screen) {
    margin: 0 0 .555555556em;
    max-width: 8.888888889em;
  }
}

.Panel--blue .Panel__title {
  color: $gray-darkest;
}

.Panel__title-icon {
  margin: .384615385em;
  width: 1.7em;
}

.Panel__sub-title {
  color: #d1cfcf;
  font-style: italic;
  margin-bottom: .909090909em;
}

.Panel__body {
  margin: 2.5em 0;

  @media(min-width: $large-screen) {
    width: 80%;
  }
}

.Panel--split .Panel__body {
  @media(min-width: $large-screen) {
    margin: 1.5em 0;
  }
}

.Panel--blue .Panel__body {
  color: $gray-darkest;
}

.Panel__img {
  display: none;
  position: relative;
  top: 6.5625em;

  @media(min-width: $large-screen) {
    display: block;
  }
}

.Panel--split .Panel__img {
  margin-left: auto;
}

.Panel--split-right .Panel__img {
  margin-left: 0;
  margin-right: auto;
}

.Panel__btns {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;

  .Panel__btn {
    margin: 0 0 .625em;
  }

  @media(min-width: $medium-screen) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;

    .Panel__btn {
      margin: 0;
    }

    .Panel__btn:first-child {
      margin-right: 1.25em;
    }
  }
}
