.Recommendations__restart {
  border-bottom: solid .0625em $white;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  margin-top: 1.25em;
  padding-bottom: .3125em;
}

.Recommendations__loading {
  color: lighten($black, 10%);
  font-size: 2.5em;
  margin-top: calc(45vh - 3em);
  text-transform: uppercase;
}

.Recommendations__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.25em;
  width: 100%;
}

.Recommendations__item {
  padding: .625em;
}
