.Footer {
  padding: 1.25em;
}

.Footer__body {
  text-align: center;

  @media(min-width: $medium-screen) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
  }
}

.Footer__heart {
  margin: 0 .625em 0 .3125em;
  transform: translateY(.125em);
}

.Footer__img {
  display: block;
  margin-left: .625em;
  transform: translateY(.25em);
}
