.Footer {
  padding: 1.25em;
}

.Footer__body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Footer__heart {
  margin: 0 .625em 0 .3125em;
  transform: translateY(.125em);
}

.Footer__img {
  display: block;
  margin-left: .625em;
  transform: translateY(.25em);
}
