.Masthead {
  align-items: center;
  display: flex;
  height: 95vh;
  justify-content: flex-end;
  padding-top: 5.625em;
}

.Masthead__inner {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 1.25em;

  @media(min-width: 75em) {
    padding-left: 0;
    width: 90%;
  }
}

.Masthead__content {
  max-width: 28.75em;
  width: 50%;
}

.Masthead__title {
  font-size: 3.625em;
}

.Masthead__body {
  width: 70%;
}

.Masthead__emoji {
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translate(-5px, 5px);
}

.Masthead-recommendations {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  transform: translateX(6.25em) translateY(1.25em);
  width: 60%;
}

.Masthead-recommendations__item {
  box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, .30);
  display: block;
  height: 390px;
  left: 100vw;
  margin-right: 2.5em;
  position: relative;
}

.Masthead-recommendations__item:last-child {
  margin-right: 0;
}
