.Emoji-grid {
  height: 33.75em;
  padding: 1.25em;
  position: relative;
  text-align: center;

  @media(min-width: $large-screen) {
    height: 46.875em;
  }
}

.Emoji-grid__inner {
  left: 50%;
  margin: 0 auto;
  max-width: 60em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.Emoji-grid__inner--small {
  max-width: 50em;
}

.Emoji-grid__inner--hide {
  opacity: 0;
  z-index: -1;
}

.Emoji-grid__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Emoji-grid__item {
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  padding: .5em;
  text-align: center;
  transform: translateZ(0);
  transition: .3s;
  width: 14%;
  z-index: 0;

  @media(min-width: $medium-screen) {
    width: 10%;
  }

  @media(min-width: $large-screen) {
    width: 8%;
  }

  &:hover {
    transform: scale(1.2) translateZ(0);
  }
}

.Emoji-grid__item--hide {
  display: none;
}

.Emoji-grid__reccos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5em;
}

.Emoji-grid__title {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 1em;

  @media(min-width: $large-screen) {
    font-size: 2.25em;
  }
}
